<!DOCTYPE html>
<html>
<head>
  <title>StaticRecord</title>
  <%= stylesheet_link_tag    "static_record/application", media: "all" %>
  <%= javascript_include_tag "static_record/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
